* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../resources/images/prado-cigarron.jpg);
    background-size: cover;
    background-repeat:repeat-x;
    background-attachment:fixed;
    background-position: center;
    margin:0;
}
main{
    margin-top: 2.5rem;
}
.container{
    background-color: bisque;
    display: flex;
    flex-direction: row;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
}
h1{
    font-size: 1.5rem;
    text-align: center;
    margin: auto;
}
h2{
    font-size: 1.2rem;
    text-align: center;
    padding: 0.5rem;
}
p{
    font-size: 1rem;
    text-align: left;
    padding: 0.5rem;
}
.fondo-blanco{
    margin: 4rem 5%;
    background-color: rgba(255, 255, 255, 0.794);
}
.btn-menu{
    margin-left: 0;
    font-size: 2rem;
}
#btn-menu{
    display: none;
}
.container-menu{
    position: fixed;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100vh;
    top: 2.5rem;
    left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}
#btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
}
.cont-menu{
    width: 100%;
    max-width: 250px;
    background: #1c1c1c;
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
}
#btn-menu:checked ~ .container-menu .cont-menu{
    transform: translateX(0%);
}
.cont-menu nav{
    transform: translateY(15%);
}
.cont-menu nav a{
    display: block;
    text-decoration: none;
    padding: 15px;
    color: #c7c7c7;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}
.cont-menu nav a:hover{
    border-left: 5px solid #c7c7c7;
    background: #1f1f1f;
}
.cont-menu label{
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}


/*CONTACO*/
#cointainer-articles-contacto {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 1rem;
}
#cointainer-articles-contacto .article-contacto {
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    margin: 1rem;
}
.article-contacto a{
    margin: auto;
}

.descripcion p{
text-align: center;
}

/*SITIOS DE INTERESE*/

#cointainer-articles-sitios-interes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 1rem;
}
.article-sitios-interes {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    place-items: center;
}
.img-enlace-sitios-interes{
    border-radius: 10px;
    float: right;
}
/*CONTADOR*/

#contador{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 1rem;
    color: #fff;
}
#contador p{
    font-size: 3rem;
    text-align: center;
    padding: 0.5rem;
}









#contador, #contador::after, #contador::before {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.25rem;
    height: 90vh;
    place-content: center;
  }
  
  .flip-card {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .2);
    border-radius: .1em;
  }
  
  .top,
  .bottom,
  .flip-card .top-flip,
  .flip-card .bottom-flip {
    height: .75em;
    line-height: 1;
    padding: .25em;
    overflow: hidden;
  }
  
  .top,
  .flip-card .top-flip {
    background-color: black;
    border-top-right-radius: .1em;
    border-top-left-radius: .1em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .bottom,
  .flip-card .bottom-flip {
    background-color: black;
    display: flex;
    align-items: flex-end;
    border-bottom-right-radius: .1em;
    border-bottom-left-radius: .1em;
  }
  
  .flip-card .top-flip {
    position: absolute;
    width: 100%;
    animation: flip-top 250ms ease-in;
    transform-origin: bottom;
  }
  
  @keyframes flip-top {
    100% {
      transform: rotateX(90deg);
    }
  }
  
  .flip-card .bottom-flip {
    position: absolute;
    bottom: 0;
    width: 100%;
    animation: flip-bottom 250ms ease-out 250ms;
    transform-origin: top;
    transform: rotateX(90deg);
  }
  
  @keyframes flip-bottom {
    100% {
      transform: rotateX(0deg);
    }
  }
  
  .containercontador {
    background-color: rgba(0, 3, 5, 0.529);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5em;
    justify-content: center;
    transform: scale(1.5);
    z-index: -1;
  }
  
  .container-segment {
    display: flex;
    flex-direction: column;
    gap: .1em;
    align-items: center;
    color: #fff;
  }
  
  .segment {
    display: flex;
    gap: .1em;
  }
  
  .segment-title {
    font-size: 1rem;
  }

  /*GALERIA*/
  #images{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      place-content: center;
      align-items: center;
  }
.imagen_miniatura{
    place-items: center;
    margin: 10px;
}

/*SITIOS DE INTERES*/
.menu-sitios-principal{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    place-content: center;
    margin-top: 5vh;

}
.menu-sitios-secundario{
    background-color: rgba(250, 235, 215, 0.855);
}
.menu-sitios-principal ul{
    background-color: rgba(255, 255, 255, 0.611);
    display: inline-block;
    flex-direction: column;
    list-style: none;
    padding: 1rem;
}
.menu-sitios-principal ul li{
    background-color: rgba(250, 235, 215, 0.855);
    border: rgba(232, 178, 107, 0.855) 1px solid;
    padding: 0.5rem;
    margin: 1rem;
}
.menu-sitios-secundario ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin: 0 auto;
    list-style: none;
    padding: 0.1rem;
}
.menu-sitios-secundario ul li{
    border: rgba(250, 235, 215, 0.855) 1px solid;
    padding: 0.5rem;
}
a{
    text-decoration: none;
    color: #1c1c1c;
}
.menu-sitios-secundario .pulsado {
    border: 1px solid rgb(254, 240, 223);
    background-color: bisque;
}
.contenido-sitios{ 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0.5rem;
}
.contenido-sitios .article-sitios-interes {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    place-items: center;
    margin: 0.5rem;
}
.img-enlace-sitios-interes{
    border-radius: 10px;
    float: right;
}