* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../resources/images/prado-cigarron.jpg);
    background-size: cover;
    background-repeat:repeat-x;
    background-attachment:fixed;
    background-position: center;
    height: 100vh;
    margin:0;
}
main{
    padding-top: 2.5rem;
}
.container{
    background-color: bisque;
    display: flex;
    flex-direction: row;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
h1{
    font-size: 1.5rem;
    text-align: center;
    margin: auto;
}
h2{
    font-size: 1.2rem;
    text-align: center;
    padding: 0.5rem;
}
p{
    font-size: 1rem;
    text-align: left;
    padding: 0.5rem;
}
.fondo-blanco{
    background-color: rgba(255, 255, 255, 0.794);
    margin: 1rem 5% 5% 5%;
}
.btn-menu{
    margin-left: 0;
    font-size: 2rem;
}
#btn-menu{
    display: none;
}
.container-menu{
    position: fixed;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100vh;
    top: 2.5rem;
    left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}
#btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
}
.cont-menu{
    width: 100%;
    max-width: 250px;
    background: #1c1c1c;
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
}
#btn-menu:checked ~ .container-menu .cont-menu{
    transform: translateX(0%);
}
.cont-menu nav{
    transform: translateY(15%);
}
.cont-menu nav a{
    display: block;
    text-decoration: none;
    padding: 15px;
    color: #c7c7c7;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}
.cont-menu nav a:hover{
    border-left: 5px solid #c7c7c7;
    background: #1f1f1f;
}
.cont-menu label{
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}


/*CONTACO*/
#cointainer-articles-contacto {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 1rem;
}
.article-contacto {
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
}

/*SITIOS DE INTERESE*/

#cointainer-articles-sitios-interes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 1rem;
}
.article-sitios-interes {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    place-items: center;
}
.img-enlace-sitios-interes{
    border-radius: 10px;
    float: right;
}